/* ---------- Cookie ----------- */
.cookiebar {
  z-index: 99999999;
  position: fixed;
  width: 80%;
  left: 50%;
  top: 15vh;
  height: 23%;
  bottom: 0;
  padding: 12px 0px 0px 0px;

  background: #fff;
   border: 1px solid #105260;
  border-radius: 1px;
  text-align: center;
  transform: translateX(-50%);
  border: 1px solid 105260;
  border-radius: 50px;
  @media screen and (max-width: 900px) {
      height: 60%;
        top: 15vh;
  }
}
@media screen and (min-width: 1200px) {
  .cookiebar {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 12px;
    gap: 10px;
    padding-bottom: 10px;
  }
}
.links-cookie{
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  width: 30%;
   @media screen and (max-width: 900px) {
       width: 80%;
  }
}
@media screen and (max-width: 1199px) {
  .cookiebar p {
    margin-bottom: 12px;
  }
}
.cookiebar p {
  // color: var(--color-modalP);
  padding: 0px 12px 0px;
  color: #105260;
}
.cookiebar__link {
  font-weight: 500;
  font-size: 0.9em;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #836d63;
  cursor: pointer;
}

.button__list {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 0px 12px 12px;

  @media screen and (min-width: 1200px) {
    padding: 0px;
  }
}

.btn__cookies {
   background-color: #1e9ec8;
  color: white;
  padding: 10px;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
   @media only screen and (max-width: 900px) {

  font-size: 0.8em;

}
 
}
.btn__cookies:hover{
    color: #1e9ec8;
  background-color: #ffbce9 !important;
}
.btn__cookies-b{
     color: #fff;
  // z-index: 1;
  // top: 72%;
  // left: 27%;
  background: #fff;
  padding: 30px 30px;
  width: 900%; 
  /* align-self: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border-radius: 10px;
 border: 2px solid #fff;
 background-color: #CD668E;
 color: #e4b59f;

  border-color: transparent;
  border-radius: var(--radius-button-hero);
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  /* display: inline-block; */
  font-size: 14px;
  min-height: 4px;
  font-weight: bold;
  padding: 0.9em 4em;
  text-align: center;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
 border: 2px solid #e4b59f;
  color: #e4b59f;
   background-color: #fff;
  // @media screen and (min-width: 1200px) {
  //   left: 44%;
  // }
}


.cookiebar__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
    color: #105260;
  
}
.cookiebar__wrap h2 {
  color: #105260;
}
.cookiebar__wrap p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #105260;
}