/* ---------- Cookie ----------- */
.cookiebar {
  z-index: 99999999;
  position: fixed;
  width: 80%;
  left: 50%;
  top: 30%;
  height: 20%;
  bottom: 0;
  padding: 12px 0px 0px 0px;

  background: #fff;
   border: 1px solid #105260;
  border-radius: 1px;
  text-align: center;
  transform: translateX(-50%);
  border: 1px solid 105260;
  border-radius: 50px;
}
@media screen and (min-width: 1200px) {
  .cookiebar {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 12px;
    gap: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 1199px) {
  .cookiebar p {
    margin-bottom: 12px;
  }
}
.cookiebar p {
  // color: var(--color-modalP);
  padding: 0px 12px 0px;
  color: #105260;
}
.cookiebar__link {
  font-weight: 500;
  font-size: 0.9em;
  line-height: 18px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: capitalize;
  color: #fff;
  cursor: pointer;
}

.button__list {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 0px 12px 12px;

  @media screen and (min-width: 1200px) {
    padding: 0px;
  }
}

.btn__cookies {
  padding: 6px 16px;
  background-color: #fff;
  border-radius: 50px;
  color: #105260;
  &:hover {
      background-color: #70f6eb;
    // border: 0.2px solid #00000070;
    padding: 6px 16px;
  }
}

.btn--darker:hover,
.btn--darker:focus {
  background-color: #105260;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: background-color 0.3s, color 0.3s;
}

.cookiebar__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
    color: #105260;
  
}
.cookiebar__wrap h2 {
  color: #105260;
}
.cookiebar__wrap p {
  color: #105260;
}