.hero {
  padding: 40px 0;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../img/hero_img_mob_1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: 765px) {
    padding: 120px 0;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../img/hero_img_desk.jpg");
  }
}

.hero__title {
  @media screen and (min-width: 768px) {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
  }
}
.hero__about {
  margin-top: 15px;
  @media screen and (min-width: 768px) {
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    margin-top: 35px;
  }
}
.hero__btn {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: chocolate;
  border-radius: 10px;
  margin-top: 33px;
  transition: 250ms;
  max-width: 120px;
  & p {
    font-size: 14px;
  }
  &:hover {
    background-color: rgb(197, 87, 8);
  }

  @media screen and (min-width: 768px) {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__all-items {
  background-color: #1e9ec8;
  color: white;
  padding: 10px;
  width: 20%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
   @media only screen and (max-width: 900px) {

  font-size: 0.8em;
  width: 40%;
  }
}
.hero__all-items:hover {
     color: #1e9ec8;
  background-color: #ffbce9 !important;
        }
.hero__all-items_ {
  background-color: #1e9ec8;
  color: white;
  padding: 10px;
  width: 20%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
   @media only screen and (max-width: 900px) {

  font-size: 0.8em;
  width: 40%;
  }
}

.hero__all-items_:hover {
     color: #1e9ec8;
  background-color: #ffbce9 !important;
}

.marginHero {
  // margin: 20px 0px 20px;
  margin: 20px 0px 20px;
  color: #503884;
  text-align: center;
  font-weight: 900;
}

.wrapperHolder-text {
  padding: 15px;
  font-size: 1em;
  color: #503884;
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
