.icon__raiting {
  width: 150px;
  // height: 80px;
}

.icon__footer-age {
  width: 44px;
  height: 44px;
  margin: 10px auto;

  @media screen and (min-width: 1200px) {
    width: 40px;
    height: 40px;
    margin-right: auto;
    padding: 0px;
  }
}

.icon__close4 {
  fill: currentColor;
  width: 18px;
  height: 18px;
}

// -------------------------- //

.modal__input:focus + .icon__modal-img {
  fill: #000000;
}

.icon__modal-img {
  width: 18px;
  height: 18px;
  background-color: transparent;

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(12px, 36px);

  color: #000000;
  transition-property: fill;
  transition-duration: $duration;
  transition-timing-function: $function;
  /* fill: currentColor; */
}

.icon__check {
  width: 16px;
  height: 15px;
  fill: currentColor;
}

.icon__client {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.icon__mob-menu {
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__mail {
  width: 14px;
  height: 10px;

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.icon__tel {
  width: 10px;
  height: 14px;

  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}

.icon__menu-close {
  width: 40px;
  height: 40px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon__close5 {
  fill: #fff;
  width: 18px;
  height: 18px;
}

.icon__close3 {
  fill: #fff;
  width: 18px;
  height: 18px;
}

.icon__close3:hover {
  fill: var(--color-button-bg);
}
