.items__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items__input {
  display: block;
  outline: 0;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
  padding: 10px 20px;
  color: #000;
  text-align: center;
  width: 63%;
  height: 40px;
  border: 0.5px solid #000;
  border-radius: 6px;

  @media screen and (min-width: 1200px) {
    width: 55%;
  }
}

.items__input:active {
  border: 0.5px solid red;
}

.items__input::placeholder {
  font-size: 14px;
  color: #000;
}

.items__info {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 500px;
  }
}

.items__button {
  color: #fff;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background: #000;
  border-radius: 6px;
  font-size: 1.5rem;

  padding: 0.375rem 1.8rem;
  padding: 1.375rem 1.8rem;
  font-size: 1.8rem;
  width: 150px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;

  background: #fff;
  padding: 20px 30px;
  /* width: 100%; */
  /* align-self: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border-radius: 6px;
  background-color: #5c0706;
  border-color: transparent;
  border-radius: 6px;
  border-style: solid;
  border-width: 0;
  color: #f2f2f0;
  cursor: pointer;
  /* display: inline-block; */
  font-size: 14px;
  min-height: 44px;
  font-weight: bold;
  // font-family: "Montserrat";
  padding: 0.9em 3em;
  text-align: center;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.items__button:hover {
  background-color: #d9b573;
}
