$footerAccentColor: #105260;
$footerColor: linear-gradient(
  90deg,
  rgb(45 108 107) 0%,
  rgb(21 51 51) 35%,
  rgb(13 42 42) 100%
);
$footerFont-size: 14px;
$footerFontColor: #034e59;

:root {
  --color-button-bg: #044f5d;
  --color-button-bg-hvr: #e4b59f;
  --color-button-bg-items: #ffe2b3;
  --color-footer-bg: #018ec3;
  --color-accent: #018ec3;
  --color-modalsBG: linear-gradient(180deg, #013a40, #3bd9bc 100.21%);

  --radius-button-hero: 50px;

  --color-banner-main: #8b8354;
  --color-banner-add: #f24405;

  --color-bg: #8b8354;
  --color-primary: #dcaa94;
  --color-primary-hover: #d9b573;
  --color-white: #cd668e;
  --color-light: #034e59;

  --color-second: #f2c12e;

  --color-bg-variant: #8b8354;
  --color-primary-variant: #f2c12e;

  --bacckground-modals: 8b8354;
  --color-modalP: #8b8354;

  --transition: all 300ms ease;
  --border-radius: 6px;

  --container-width-mobile: 90%;
  --container-width-desktop: 80%;
}
